{% extends 'base.html.twig' %}


{% block body %}

    <h1>Connexion</h1>

    <form action="{{ path("security_login") }}" method="post">
        <div class="form-group">
            <input placeholder="Adresse email ..." required type="text" class="form-control" name="_username">
        </div>
        <div class="form-group">
            <input placeholder="Mot de passe ..." required type="password" class="form-control" name="_password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </div>
    </form>

{% endblock %}