<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Codrix{% endblock %}</title>
        <link rel="stylesheet" href="">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav>
        <a href="{{ path('home') }}">Codrix</a>
        <ul>
            <a href="{{ path('blog') }}"><li>Articles</li></a>
            <a href="{{ path('blog_create') }}"><li>Créer</li></a>
        </ul>
    </nav>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
